.body{

}



.bg{
    background-image: url(../img/BancoRemove.png);
    background-position: center center;
    background-size: cover;
}



/* (ANTERIOS LOGIN)
body{
       background-color: #7491ff;
       font-family: "Trirong", serif;
    
       background-size: cover;
       background-position: center;
}

.bg-dark{ 
   
}

.banner{
    width: 100%;
    padding-top: 135px;
}


.d0{
    border-radius: 15px;
    background-color: #000000;
}

.d1{
    background-color: #77a3ff;
    border-radius: 40px;
}

.d5{
    background-color: #20dac4;
    border-radius: 15px;
}

.d6{
    background-color: #20dac4;
    border-radius: 15px;
}
*/