.body{
    margin: 0;
}

.main-login{
    width: 100vw;  /*ES LA LARGURA DE LA PAGINA*/
    height: 100vh; /*ES LA ALTURA DE LA PAGINA*/
    background: #228681;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.left-login{
    width: 50vw; 
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
}

.left-login > h1 {
    color:    #10e8d7;
}

.right-login{
    width: 50vw; 
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.card-login{
    width: 60%; /*60% DE 50VH*/
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #228681;
}